/*Animação de surgimento.*/
@keyframes surgir {
    from {
        opacity: 0;
        transform: translateY(100px); /* Começa mais baixo */
    }
    to {
        opacity: 1;
        transform: translateY(0);    /* Sobe para a posição normal */
    }
}

.link-animado {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    
    animation: surgir 0.8s ease-out forwards;
    
    transition: transform 0.3s ease, color 0.3s ease;
}

/*Efeito de Interação ao passar o mouse por cima do link*/
.link-animado:hover {
    color: #000000;
    transform: scale(1.0);
}

/*Alinha tudo deixando no centro.*/
.div {
  display: flex;
  flex-direction: column; 
  align-items: center;  
}

/* separa os links na horizontal por um espaço de 30px.*/ 

.menu-horizontal {
  display: flex;
  gap: 30px; 
}

